.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #283645; }

.pade-header__logo {
  position: relative;
  border-bottom: 1px solid #000000;
  cursor: default; }

.pade-header__logo,
.top-menu {
  width: 320px;
  margin: 0 auto; }

.page-header__logo-pic--index,
.page-header__logo-pic {
  margin: 22px 0px 22px 20px; }

.page-header__logo-pic:hover {
  cursor: pointer; }

.top-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none; }

.top-menu__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000; }
  .top-menu__item:hover .top-menu__link[href] {
    color: #d22856; }
  .top-menu__item:active .top-menu__link[href] {
    color: #52374f; }

.top-menu__link {
  display: block;
  margin: 0 auto;
  padding: 21.5px 10px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px; }

@media (min-width: 660px) {
  .pade-header__logo,
  .top-menu {
    width: 660px;
    margin: 0 auto; }
  .page-header__logo-pic--index {
    margin: 28px 0px 38px 20px; } }

.intro {
  background-image: url(../img/backgound-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 50% -67px;
  background-color: #1d2631; }

.intro__title {
  margin: 0 auto;
  padding: 0;
  width: 270px;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  text-align: center; }

.intro-index {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 23px; }
  .intro-index .intro__title {
    margin-bottom: 30px; }

.intro-photo {
  padding: 30px 0 84px; }

.intro-form {
  padding: 31px 0 55px; }

.intro__pic-wrapper {
  position: relative;
  width: 320px;
  min-height: 286px;
  margin: 0 auto; }

.intro__pic-hand {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.intro__pic-photo {
  position: absolute;
  top: 33px;
  left: 104px;
  -webkit-filter: brightness(0.9) contrast(0.9);
          filter: brightness(0.9) contrast(0.9); }

.intro__wrapper {
  position: relative;
  z-index: 2;
  padding: 28px 20px 32px;
  text-align: center;
  background-color: #1d2631; }

.button {
  display: block;
  width: 28rem;
  padding: 1.5rem;
  font-family: "OpenSansBold", Arial, sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 3rem; }

.intro__button {
  margin: 0 auto 32px; }

.intro__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto 22px;
  padding: 0 20px;
  width: 280px;
  list-style: none; }

.intro__apps-link {
  display: block;
  font-size: 0; }

.intro__apps-link--apple {
  width: 47px;
  height: 56px;
  background-image: url(../img/apple-logo.png);
  background-repeat: no-repeat; }

.intro__apps-link--android {
  width: 43px;
  height: 47px;
  background-image: url(../img/android-logo.png);
  background-repeat: no-repeat; }

.intro__apps-link--microsoft {
  width: 44px;
  height: 41px;
  background-image: url(../img/microsoft-logo.png);
  background-repeat: no-repeat; }

.intro__description {
  margin: 0 auto;
  width: 280px;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1.7; }

@media (min-width: 660px) {
  .intro {
    background-image: url(../img/backgound-tablet.jpg);
    background-repeat: no-repeat;
    background-position: 50% -111px; }
  .intro-index {
    padding: 92px 0 108px; }
  .intro-photo {
    padding: 69px 0 140px; }
    .intro-photo .intro__title {
      width: 660px;
      margin: 0 auto;
      padding: 0 20px;
      font-size: 5rem; }
  .container {
    position: relative;
    width: 660px;
    margin: 0 auto; }
  .intro__title {
    margin-left: 70px;
    width: 200px;
    font-size: 4rem; }
  .intro__pic-wrapper {
    position: absolute;
    bottom: -108px;
    left: 0;
    width: 660px;
    min-height: 545px; }
  .intro__pic-photo {
    top: 53px;
    left: 371px; }
  .intro__wrapper {
    padding: 0;
    background-color: transparent; }
  .button {
    width: 30rem; }
  .intro__button {
    margin: 0 auto 46px 20px; }
  .intro__apps {
    margin: 0 auto 37px 29px; }
  .intro__description {
    width: 300px;
    margin-left: 21px;
    font-size: 1.8rem;
    line-height: 1.4; } }

.info {
  margin-bottom: -85px;
  background: linear-gradient(-185.8deg, #ffffff 22.3%, #f2f2f2 0%); }

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 41px 28px; }

.info__description {
  margin: 0;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 2.4rem;
  color: #283645;
  text-align: center;
  line-height: 1.2; }
  .info__description:first-of-type {
    margin-bottom: 32px; }
  .info__description:last-of-type {
    margin-bottom: 116px; }

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none; }

.info-list__item {
  text-align: center; }

.info-list__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 1.8rem;
  letter-spacing: 0.8px; }

.info-list__description {
  margin: 0;
  margin-bottom: 33px;
  font-size: 1.4rem;
  letter-spacing: 0.1px;
  line-height: 1.75; }

.info-list__item:last-of-type .info-list__description {
  margin-bottom: 43px; }

@media (min-width: 660px) {
  .info {
    background: linear-gradient(-184.4deg, #ffffff 34.8%, #f2f2f2 0%); }
  .info__wrapper {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 660px;
    padding: 49px 19px 85px; }
  .info__description {
    font-size: 4rem; }
    .info__description:first-of-type {
      margin-bottom: 0; }
    .info__description:last-of-type {
      width: 350px;
      margin-bottom: 124px; }
  .info__list {
    margin-left: 311px; }
  .info-list__item {
    text-align: left; }
  .info-list__description {
    margin-bottom: 37px; }
  .info__pic-phone {
    position: absolute;
    top: 244px;
    left: 20px;
    width: 268px;
    height: 547px; } }

.diagram {
  display: none; }

@media (min-width: 660px) {
  .diagram {
    position: relative;
    display: block;
    background-color: #ffffff;
    z-index: 1; }
  .diagram__wrapper {
    position: relative;
    padding: 98px 33px 125px 330px;
    width: 660px;
    margin: 0 auto; }
  .diagram__pic {
    position: absolute;
    top: 59px;
    left: 20px; }
  .diagram__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .diagram__title {
    width: 179px;
    margin: 0;
    margin-bottom: 15px;
    font-size: 3rem;
    letter-spacing: 1.4px; }
  .diagram__description {
    margin: 0;
    margin-bottom: 18px;
    font-size: 1.4rem;
    line-height: 1.7; }
  .diagram__link {
    font-size: 1.4rem;
    color: #d22856; } }

.review {
  position: relative;
  background-color: #ffffff; }

.review__list {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  list-style: none; }

.review__item {
  padding: 49px 20px 32px;
  text-align: center; }

.review__autor,
.review__autor-date,
.review__text {
  margin: 0; }

.review__autor {
  margin-bottom: 19px;
  font-family: "OpenSansBold", Arial, sans-serif; }

.review__autor-date {
  display: none; }

.review__text {
  font-size: 1.4rem;
  line-height: 2.2; }

.review__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 320px;
  list-style: none; }

.review__pagination-item {
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  cursor: pointer; }
  .review__pagination-item:nth-child(2) {
    margin: 0 17px; }

.review__pagination-item--active {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 3px solid #000000;
  border-radius: 50%; }

@media (min-width: 660px) {
  .review__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 660px;
    margin: 0 auto; }
  .review__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 20px; }
  .review__autor {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 13px;
    font-size: 2rem; }
  .review__autor-date {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: block;
    margin-bottom: 37px;
    font-size: 1.4rem; }
  .review__text {
    margin-bottom: 38px;
    font-size: 1.8rem;
    line-height: 1.7; } }

.price {
  padding-top: 454px;
  padding-bottom: 46px;
  background: linear-gradient(-184.5deg, #ffffff 17.3%, #f2f2f2 0%);
  overflow: hidden; }

.price__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto; }

.price__table {
  position: absolute;
  top: -321px;
  left: -258px;
  width: 836px;
  border-spacing: 0;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear; }

.price__table--first {
  -webkit-transform: translateX(258px);
          transform: translateX(258px);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear; }

.price__table--third {
  -webkit-transform: translateX(-258px);
          transform: translateX(-258px);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear; }

.price-table--hidden,
.price-table__data--mobile-hidden {
  display: none; }

.price-table__data {
  background-color: #ffffff;
  border: 1px solid #e5e5e5; }

th {
  background-color: #283645;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5; }

.price-table__title {
  padding: 21px 0;
  font-family: "OpenSansBold", Arial, sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  text-transform: uppercase; }
  .price-table__title span {
    display: block; }
  .price-table__title span:first-child {
    margin-bottom: 10px; }

.price-table__title--hit {
  position: relative; }
  .price-table__title--hit::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 74px;
    height: 73px;
    background-image: url(../img/price-hit.png);
    background-repeat: no-repeat; }

.price-table__price {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-weight: 100;
  font-size: 2.4rem; }

.price-table__data {
  position: relative;
  padding: 20px 0;
  padding-left: 22px; }
  .price-table__data span {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .price-table__data::after {
    content: "";
    position: absolute;
    right: 19px; }

.price-table__data--yes::after {
  top: 22px;
  width: 31px;
  height: 21px;
  background-image: url(../img/price-yes.png);
  background-repeat: no-repeat; }

.price-table__data--no::after {
  top: 16px;
  width: 27px;
  height: 26px;
  background-image: url(../img/price-no.png);
  background-repeat: no-repeat; }

.price-table__row:first-child .price-table__data {
  border-top: none; }

.price__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.price__pagination-item {
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  cursor: pointer; }
  .price__pagination-item:nth-child(2) {
    margin: 0 17px; }

.price__pagination-item--active {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 3px solid #000000; }

@media (min-width: 660px) {
  .price {
    padding: 0;
    background: linear-gradient(-184.5deg, #ffffff 20%, #f2f2f2 0%); }
  .price__wrapper {
    width: 660px;
    margin: 0 auto;
    padding: 109px 0 70px; }
  .price__table {
    position: relative;
    top: 0;
    left: 20px;
    width: 620px; }
  .price-table--hidden {
    border: none;
    background: transparent; }
  .price-table--hidden,
  .price-table__data--mobile-hidden {
    display: block; }
  .price-table__data--hidden {
    display: none; }
  .price-table__title {
    padding: 18px 0 14px;
    font-size: 1.6rem; }
  .price-table__title--hit::before {
    left: 0;
    background-image: url(../img/price-hit-tablet.png); }
  .price-table__price {
    font-size: 1.8rem; }
  .price-table__data {
    width: 155px;
    padding: 15px 0 15px 16px;
    font-size: 1.4rem; }
  .price-table__data--yes::after {
    top: 14px;
    left: 61px; }
  .price-table__data--no::after {
    top: 10px;
    left: 64px; }
  .price__pagination {
    display: none; } }

.contacts {
  position: relative;
  width: 320px;
  margin: 0 auto; }
  .contacts::before {
    content: "";
    position: absolute;
    bottom: -125px;
    left: 142px;
    z-index: -4;
    width: 36px;
    height: 35px;
    background-image: url(../img/map-marker.png);
    background-repeat: no-repeat; }
  .contacts::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: -1;
    width: 320px;
    height: 123px;
    background-image: url(../img/triangle-white-footer.png);
    background-repeat: no-repeat; }

.contacts__wrapper {
  padding: 45px 20px;
  text-align: center;
  background-color: #ffffff; }

.contacts__description {
  margin: 0;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-weight: 100;
  font-size: 2.4rem; }
  .contacts__description:first-of-type {
    margin-bottom: 3px; }
  .contacts__description:last-of-type {
    margin-bottom: 38px; }

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "OpenSansBold", Arial, sans-serif; }
  .contacts__item span {
    margin-bottom: 5px; }

.contacts__link,
.contacts__address {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 100;
  color: #d22856;
  text-decoration: none; }

.contacts__link--phone {
  letter-spacing: 0.7px; }

.contacts__address {
  font-style: normal;
  line-height: 1.2; }

.contacts__item--phone {
  margin-bottom: 25px; }

.contacts__item--mail {
  margin-bottom: 30px; }

.contacts__map {
  position: absolute;
  top: -32px;
  left: 0;
  z-index: -5;
  display: block; }

.contacts__map--ambded {
  position: absolute;
  left: 0;
  z-index: -2;
  width: 320px;
  height: 200px; }

@media (min-width: 660px) {
  .contacts {
    width: 660px;
    margin: 0 auto; }
  .contacts__wrapper {
    padding: 48px 0 0; }
  .contacts__description {
    font-size: 4rem; }
  .contacts__description:last-of-type {
    margin-bottom: 51px; }
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contacts__item {
    width: 330px; }
    .contacts__item:not(:last-child) {
      margin-bottom: 53px; }
    .contacts__item:last-child {
      margin: 0 auto; }
  .contacts__address {
    display: block;
    width: 250px;
    margin: 0 auto; }
  .contacts__map {
    top: 58px; }
  .contacts__map--ambded {
    width: 660px;
    height: 533px; }
  .contacts::before {
    bottom: -261px;
    left: 312px; }
  .contacts::after {
    bottom: -100px;
    width: 660px;
    height: 123px;
    background-image: url(../img/triangle-white-tablet.png); } }

.page-footer--index-mobile {
  display: none; }

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 40px 0 42px; }

.page-footer__logo {
  margin-bottom: 37px; }

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  font-size: 0;
  list-style: none; }

.social__item:nth-child(2) {
  margin: 0 13px; }

.social__link {
  position: relative;
  display: block;
  width: 51px;
  height: 51px;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 3px solid #e9ebec;
  border-radius: 50%; }

.social__twitter {
  background-image: url(../img/twitter.png); }

.social__fb {
  background-image: url(../img/facebook.png); }

.social__youtube {
  background-image: url(../img/youtube.png); }

.page-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: #283645; }

.page-footer__copyright-text {
  margin: 0;
  margin-right: 13px; }

.page-footer__copyright-link {
  display: block;
  width: 27px;
  height: 34px;
  font-size: 0;
  background-image: url(../img/logo-htmlacademy-mobile.png);
  background-repeat: no-repeat; }

@media (min-width: 660px) {
  .page-footer--index-mobile {
    position: relative;
    bottom: -406px;
    display: block;
    background-color: #ffffff; }
  .page-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 660px;
    margin: 0 auto;
    padding: 0 19px 39px; }
  .page-footer__logo,
  .page-footer__social {
    margin: 0; }
  .page-footer__logo {
    padding-top: 29px; }
  .page-footer__social {
    padding-top: 37px; }
  .page-footer__copyright {
    padding-top: 43px; } }

.page-photo__wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px; }

.page-photo__title {
  margin: 0;
  padding: 46px 35px 48px;
  font-size: 1.4rem;
  font-weight: normal;
  color: #283645;
  line-height: 2.2;
  text-align: center; }

.page-photo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .page-photo__item:not(:last-child) {
    margin-bottom: 20px; }

.page-photo__pic {
  display: block; }

.page-photo__description {
  padding: 22px 10px 26px 18px;
  width: 280px;
  background-color: #f2f2f2; }

.page-photo__autor,
.page-photo__text {
  margin: 0;
  color: #283645; }

.page-photo__autor {
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: bold; }

.page-photo__date {
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: uppercase; }

.page-photo__text {
  margin-bottom: 15px;
  font-size: 1.4rem;
  line-height: 1.75; }

.page-photo__like {
  position: relative;
  margin: 0;
  margin-left: 33px;
  font-size: 1.2rem;
  color: #d22856;
  text-transform: uppercase; }
  .page-photo__like::before {
    content: "";
    position: absolute;
    left: -33px;
    width: 13px;
    height: 12px;
    background-image: url(../img/icon-heart.png);
    background-repeat: no-repeat; }

@media (min-width: 660px) {
  .page-photo__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 660px;
    margin: 0 auto; }
  .page-photo__title {
    padding: 94px 48px 78px;
    font-size: 1.8rem;
    line-height: 1.6; }
  .page-photo__item:nth-of-type(even) {
    margin-right: 20px; }
  .page-photo__item:first-of-type {
    margin-bottom: 50px; }
    .page-photo__item:first-of-type .page-photo__description {
      position: relative;
      width: 620px;
      padding: 27px 28px 26px 28px; }
      .page-photo__item:first-of-type .page-photo__description .page-photo__text {
        margin-bottom: 0; }
      .page-photo__item:first-of-type .page-photo__description .page-photo__like {
        position: absolute;
        top: 30px;
        right: 60px; }
        .page-photo__item:first-of-type .page-photo__description .page-photo__like::before {
          left: 107px; }
  .page-photo__item:not(:first-of-type) .page-photo__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    min-height: 155px;
    padding: 28px 30px 28px 28px; }
    .page-photo__item:not(:first-of-type) .page-photo__description .page-photo__text {
      margin-bottom: auto; }
  .page-photo__item:not(:first-of-type) .page-photo__like {
    margin-left: 0; }
    .page-photo__item:not(:first-of-type) .page-photo__like::before {
      left: 227px; } }

.upload__panel {
  background-color: #f2f2f2; }

.upload__wrapper-title {
  width: 320px;
  padding: 43px 10px 42px;
  margin: 0 auto;
  text-align: center; }

.upload__description {
  margin: 0;
  font-size: 1.4rem;
  line-height: 2.2; }

.upload__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 20px; }

.upload__pic {
  display: block; }

.upload__range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 41px 20px 65px; }

.upload__range-crop {
  display: block;
  width: 44px;
  height: 44px;
  background-image: url(../img/crop-active.png);
  background-repeat: no-repeat;
  cursor: pointer; }

.upload__range-fill {
  display: block;
  width: 48px;
  height: 43px;
  background-image: url(../img/fill.png);
  background-repeat: no-repeat;
  cursor: pointer; }

.upload__range-contrast {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/contrast.png);
  background-repeat: no-repeat;
  cursor: pointer; }

.upload__range-slider {
  position: relative;
  display: block;
  width: 240px;
  height: 14px;
  margin-top: 35px; }
  .upload__range-slider::before {
    content: "";
    position: absolute;
    top: 5px;
    width: 240px;
    height: 2px;
    background-color: #000000; }
  .upload__range-slider::after {
    content: "";
    position: absolute;
    top: -1px;
    right: 35px;
    width: 14px;
    height: 14px;
    background-color: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;
    cursor: pointer; }

.upload__buttons {
  padding-bottom: 20px; }

.upload__button-post {
  margin-bottom: 12px;
  color: #d22856;
  border-color: #d22856;
  cursor: pointer; }

.upload__button-cancel {
  color: #dddfe0;
  border-color: #dddfe0;
  cursor: pointer; }

@media (min-width: 660px) {
  .upload__wrapper-title {
    width: 660px;
    margin: 0 auto;
    padding: 47px 10px 71px; }
  .upload__description {
    font-size: 1.8rem;
    line-height: 1.6; }
  .upload__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 660px;
    margin: 0 auto;
    padding: 57px 20px 34px; }
    .upload__wrapper picture {
      position: absolute; }
  .upload__range,
  .upload__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-left: 348px; }
  .upload__range {
    min-height: 199px;
    padding: 9px 0px 28px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 66px; }
  .upload__range-crop {
    width: 22px;
    height: 22px;
    background-image: url(../img/crop-tablet.png); }
  .upload__range-fill {
    width: 24px;
    height: 22px;
    background-image: url(../img/fill-tablet.png); }
  .upload__range-contrast {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-image: url(../img/contrast-tablet.png); }
  .upload__range-crop,
  .upload__range-fill,
  .upload__range-contrast {
    position: relative; }
    .upload__range-crop::before,
    .upload__range-fill::before,
    .upload__range-contrast::before {
      content: "";
      position: absolute;
      width: 201px;
      height: 2px;
      background-color: #000000; }
    .upload__range-crop::after,
    .upload__range-fill::after,
    .upload__range-contrast::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-color: #f2f2f2;
      border: 2px solid #d22856;
      border-radius: 50%; }
  .upload__range-crop::before {
    top: 10px;
    left: 52px; }
  .upload__range-crop::after {
    top: 4px;
    left: 198px; }
  .upload__range-fill::before {
    top: 10px;
    left: 52px; }
  .upload__range-fill::after {
    top: 4px;
    left: 77px; }
  .upload__range-contrast::before {
    top: 7px;
    left: 47px; }
  .upload__range-contrast::after {
    top: 1px;
    left: 143px; }
  .upload__range-slider {
    display: none; }
  .upload__button-post,
  .upload__button-cancel {
    width: 25.7rem; }
  .upload__button-post {
    margin-bottom: 23px; } }

.competition__wrapper-title,
.competition-form__user,
.competition-form__achievements,
.competition-form__contacts,
.competition-form__apps,
.competition-form__emotion {
  width: 320px;
  margin: 0 auto; }

.competition__wrapper-title {
  padding: 46px 15px 40px;
  text-align: center; }

.competition-form__wrapper {
  background-color: #f2f2f2; }

.competition__title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 100;
  color: #283645;
  line-height: 2.2; }

.competition__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.competition-form__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px; }

.form-user__label {
  margin-left: 23px;
  margin-bottom: 13px;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #d22856; }

.form-user__input {
  margin-bottom: 22px;
  padding: 20px;
  width: 280px;
  border: 2px solid #f2f2f2;
  outline: none; }
  .form-user__input::-webkit-input-placeholder {
    color: #000000; }
  .form-user__input::-moz-placeholder {
    color: #000000; }
  .form-user__input:-ms-input-placeholder {
    color: #000000; }
  .form-user__input::-ms-input-placeholder {
    color: #000000; }
  .form-user__input::placeholder {
    color: #000000; }
  .form-user__input:last-of-type {
    margin-bottom: 43px; }
  .form-user__input:hover {
    border-color: #000000; }
  .form-user__input:focus {
    border-color: #d22856; }

.competition-form__achievements {
  padding: 37px 31px 0;
  border: none; }
  .competition-form__achievements [type="checkbox"] {
    display: none; }

.form-achievements__title,
.form-contacts__title,
.form-apps__title,
.form-emotion__title {
  display: none; }

.form-achievements__title--mobile {
  margin: 0;
  margin-bottom: 48px;
  font-size: 1.4rem;
  font-weight: 100;
  color: #d22856;
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center; }

.form-achievements__checkbox {
  position: relative;
  display: block;
  margin-bottom: 63px;
  margin-left: 58px;
  color: #283645;
  cursor: pointer; }
  .form-achievements__checkbox:last-of-type {
    margin-bottom: 52px; }
  .form-achievements__checkbox::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -69px;
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5; }

.form-achievements__checkbox:hover::before,
.form-achievements__checkbox:focus::before {
  border-color: #283645; }

.form-achievements__checkbox:active::before {
  border-color: #d22856; }

input:checked + .form-achievements__checkbox::after {
  content: "";
  position: absolute;
  left: -60px;
  width: 22px;
  height: 16px;
  background-image: url(../img/tick.png);
  background-repeat: no-repeat; }

.competition-form__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 39px 20px;
  border: none; }

.form-contacts__label {
  margin-bottom: 12px;
  margin-left: 22px;
  font-size: 1.4rem;
  color: #d22856;
  text-transform: uppercase; }

.form-contacts__input {
  padding: 20px;
  margin-bottom: 24px;
  width: 280px;
  border: 2px solid #f2f2f2;
  outline: none; }
  .form-contacts__input::-webkit-input-placeholder {
    color: #000000; }
  .form-contacts__input::-moz-placeholder {
    color: #000000; }
  .form-contacts__input:-ms-input-placeholder {
    color: #000000; }
  .form-contacts__input::-ms-input-placeholder {
    color: #000000; }
  .form-contacts__input::placeholder {
    color: #000000; }
  .form-contacts__input:last-of-type {
    margin-bottom: 3px; }
  .form-contacts__input:hover {
    border-color: #000000; }
  .form-contacts__input:focus {
    border-color: #d22856; }

.competition-form__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 36px 40px 0;
  border: none; }
  .competition-form__apps [type="radio"] {
    display: none; }

.form-apps__title--mobile {
  margin: 0;
  margin-bottom: 46px;
  font-size: 1.4rem;
  font-weight: 100;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4; }

.form-apps__radio {
  position: relative;
  display: block;
  margin-left: 50px;
  margin-bottom: 56px;
  color: #283645;
  cursor: pointer; }
  .form-apps__radio:last-of-type {
    margin-bottom: 51px; }
  .form-apps__radio::before {
    content: "";
    position: absolute;
    top: -11px;
    left: -70px;
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%; }

.form-apps__radio:hover::before,
.form-apps__radio:focus::before {
  border-color: #283645; }

.form-apps__radio:active::before {
  border-color: #d22856; }

input:checked + .form-apps__radio::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -58px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%; }

.competition-form__emotion {
  padding: 40px 20px 45px;
  border: none; }

.form-emotion__title--mobile {
  margin: 0;
  margin-bottom: 18px;
  font-size: 1.4rem;
  font-weight: 100;
  color: #d22856;
  text-transform: uppercase;
  text-align: center; }

.form-emotion__text {
  padding: 12px 19px;
  width: 280px;
  min-height: 200px;
  line-height: 1.7;
  border: 2px solid #f2f2f2;
  resize: none;
  outline: none; }
  .form-emotion__text::-webkit-input-placeholder {
    color: #000000; }
  .form-emotion__text::-moz-placeholder {
    color: #000000; }
  .form-emotion__text:-ms-input-placeholder {
    color: #000000; }
  .form-emotion__text::-ms-input-placeholder {
    color: #000000; }
  .form-emotion__text::placeholder {
    color: #000000; }
  .form-emotion__text:hover {
    border-color: #000000; }
  .form-emotion__text:focus {
    border-color: #d22856; }

.competition-form__wrapper-button {
  padding: 0 20px 24px;
  width: 320px;
  margin: 0 auto; }

.btn {
  width: 280px;
  padding: 21px 0;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  background-color: #2aab6d;
  border: none;
  cursor: pointer;
  outline: none; }
  .btn:hover {
    background-color: #1c9b5e; }
  .btn:focus {
    color: #61b98f;
    background-color: #1c9b5e; }

.competition-form__button {
  margin-bottom: 43px; }

.competition-form__note {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase; }

.competition-form__note span {
  color: #d22856; }

.popup-error,
.popup-sent {
  position: fixed;
  top: 25%;
  left: 50%;
  display: none;
  width: 320px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px -10px #000000;
          box-shadow: 0 10px 25px -10px #000000;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%); }
  70% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%); }
  85% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%); }
  70% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%); }
  85% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.popup-open {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; }

.popup-error {
  padding: 40px 20px; }

.popup-sent__wrapper {
  padding: 40px 26px 0; }

.poput-sent__wrapper-button {
  padding: 50px 20px;
  background-color: #f2f2f2; }

.popup__title,
.popup__description {
  margin: 0;
  padding: 0;
  text-align: center; }

.popup__title {
  margin-bottom: 40px; }

.popup__description {
  margin-bottom: 40px;
  font-size: 1.4rem;
  line-height: 1.6; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  min-width: 320px;
  margin: auto;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.1;
  color: #000000; }

@media (min-width: 660px) {
  body {
    min-width: 660px;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */
